@using KO.Resources
<div class="alert alert-warning">
    <span class="oi oi-pie-chart">@Global.NotAuthorize</span>
</div>
<a asp-action="index" asp-controller="Home" class="btn btn-info col-lg-3 col-sm-6">@Global.Back</a>