@model KO.Web.Models.Aplicaciones.AplicacionViewModel

@section scripts
{
    <script type="text/javascript" asp-src-include="~/js/KO/aplicaciones/aplicaciones-listado.js" asp-append-version="true"></script>
}
<link rel="stylesheet" asp-href-include="~/css/vacunatorio.css" />

<!--Grilla-->
<v-row class="d-flex justify-center mt-1 mx-auto" no-gutters>

    <v-col lg="4" class="mb-0 pt-3 pb-0">
        <v-breadcrumbs :items="breadcrums" class="pb-0">
            <template v-slot:item="{ item }">
                <v-breadcrumbs-item :href="item.href"
                                    :disabled="item.disabled">
                    <span style="font-weight: bold;font-size:1.2em"> {{  item.text.toUpperCase() }}</span>
                </v-breadcrumbs-item>
            </template>
        </v-breadcrumbs>
    </v-col>
    <v-col lg="1"></v-col>
    <v-col lg="2" class="text-end mr-10 mt-3">
        <v-tooltip left>
            <template v-slot:activator="{ on, attrs }">
                <v-btn v-bind="attrs"
                       v-on="on"
                       v-on:click="agregarAplicacion"
                       color="primary"
                       elevation="2">
                    <v-icon small class="pr-1">mdi-plus</v-icon>
                    {{jsglobals.Nueva}} {{jsglobals.Aplicacion}}
                </v-btn>
            </template>
            <span>{{jsglobals.AgregarAplicacion}}</span>
        </v-tooltip>
    </v-col>
</v-row>
        <v-row class="d-flex justify-center align-center mt-0">
            <v-col cols="7" class="mt-0">
                <v-card class="my-0">
                    <v-card-title>
                        <v-col lg="4" sm="5" class="pt-5">
                            <v-btn class="blue lighten-4" v-if="expanded" v-on:click="colapsar()">{{jsglobals.Colapsar}}</v-btn>
                        </v-col>
                        <v-spacer></v-spacer>
                        <v-col lg="5" sm="5" class="pb-1">
                            <v-text-field v-model="search"
                                          append-icon="mdi-magnify"
                                          label="Filtrar"
                                          single-line
                                          hide-details></v-text-field>
                        </v-col>
                    </v-card-title>
                    <v-data-table :headers="headers"
                                  dense
                                  :items="listadoFiltrado"
                                  :expanded.sync="expanded"
                                  item-key="id"
                                  :search="search"
                                  show-expand
                                  :items-per-page="10"
                                  class="elevation-2 text-uppercase"
                                  style="position: relative;"
                                  :loading="loadingAplicaciones"
                                  :loading-text=jsglobals.ObteniendoAplicaciones
                                  :no-data-text=jsglobals.LabelNoCoincidences
                                  :footer-props="{
                        'items-per-page-text':jsglobals.FilasPorPagina,
                        'items-per-page-all-text':jsglobals.Todas,
                        'items-per-page-options':[ 10,  25,  50,  -1],
                            pageText: '{0} - {1} de {2}'}">
                            <template v-slot:expanded-item ="{ headers, item }">
                            <td :colspan="headers.length" class="pa-5">
                                <p v-for="item in item.listaDetalles">
                                    {{ item.nombre }} - {{ item.marca }}
                                </p>
                            </td>
                        </template>
                        <template v-slot:item.acciones="{ item }">
                            <v-tooltip left>
                                <template v-slot:activator="{ on, attrs }">
                                    <v-icon v-on="on" v-bind="attrs" class="mr-2" v-on:click="eliminarAplicacion(item.id)" color="indigo">delete</v-icon>
                                </template>
                                <span>
                                    {{jsglobals.Eliminar}}
                                </span>
                        </template>
                        <template v-slot:footer>
                            <v-tooltip bottom>
                                <template v-slot:activator="{ on, attrs }">
                                    <v-btn v-on:click="exportarAplicaciones()"
                                           color="primary"
                                           small
                                           v-bind="attrs"
                                           v-on="on"
                                           elevation="2"
                                           class="bkg-white margenMobile"
                                           style="position: absolute; margin:15px"
                                           :loading="loadingExportar"
                                           :disabled="loadingExportar">
                                        <v-icon small class="pr-1">
                                            mdi-file-export
                                        </v-icon>
                                        {{jsglobals.Exportar}}
                                    </v-btn>
                                </template>
                                <span>{{jsglobals.ExportarExcel}}</span>
                            </v-tooltip>
                        </template>
                    </v-data-table>
                </v-card>
            </v-col>
        </v-row>

