<template>
    <v-row dense class="mx-15" style="height: 612px !important;min-height: 612px !important;max-height: 612px !important;">
        <template>
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <v-col v-for="(elem,index) in ordersKitchen"
                               v-if="index <4"
                               :key="elem.id"
                               elevation="10"
                               :cols="3"
                               style="margin-top:-6vh; vertical-align:top !important"
                               class="d-inline-block w-50">

                            <div class="text-center rope">
                                <img width="108%" src="@Url.Content("/images/ropeTransparent.png")" />
                            </div>
                            <div class="text-center clip">
                                <img width="50" src="@Url.Content("/images/clipTransparent.png")" />
                            </div>
                            <v-card style="z-index: 4;">
                                <v-card-title class="py-0" style="justify-content:center">
                                    &nbsp;
                                </v-card-title>
                                <v-card-title class="py-1">
                                    <label style="font-size:13px">
                                        {{jsglobals.Waiter}}: {{elem.waiterName}}
                                    </label>
                                    <v-spacer></v-spacer>
                                    {{jsglobals.Table}} {{elem.tableNumber}}
                                </v-card-title>
                                <v-card-title class="pt-0">
                                    <label style="font-size:14px">{{jsglobals.Request}}: {{elem.requestedTimeString}}</label>
                                    <v-spacer></v-spacer>
                                    <v-chip outlined :color="elem.cronoWarning">{{elem.tiempoEnCocina}}</v-chip>
                                </v-card-title>
                                <template>
                                    <label color="gray">&nbsp;&nbsp;******************************************</label>
                                    <v-card-text style="font-size:16px;color:black" class="text-center pa-0">
                                        <v-list v-if="elem.orderDetails.some(o=>o.menuItemCategoryId == 1)">
                                            <label name="entradas"><strong>- - - ENTRADAS - - - </strong></label>
                                            <v-list-item v-for="item in elem.orderDetails" v-if="item.menuItemCategoryId == 1"
                                                         :key="item.id"
                                                         style="min-height:25px !important;border-bottom:0.5px solid lightgray">
                                                <v-list-item-title style="color: #f9b903" v-if="item.orderDetailStatusId == 1" class="text-left">
                                                    {{item.menuItemName}}
                                                </v-list-item-title>
                                                <v-list-item-title style="color: green" v-if="item.orderDetailStatusId == 2" class="text-left">
                                                    {{item.menuItemName}}
                                                </v-list-item-title>
                                                <v-list-item-title style="color: pink;" v-if="item.orderDetailStatusId == 3" class="text-left">
                                                    {{item.menuItemName}}
                                                </v-list-item-title>
                                                <v-list-item-title style="color: #26C6DA; text-decoration: line-through" v-if="item.orderDetailStatusId == 4" class="text-left">
                                                    {{item.menuItemName}}
                                                </v-list-item-title>
                                                <v-list-item-subtitle class="text-right" style="max-width:60px !important">
                                                    <v-icon class="miniActionIcon" v-if="item.orderDetailStatusId == 1" color="yellow darken-2" v-on:click="changeItemStateKitchen(elem.id, item.id, 2)">pending_actions</v-icon>
                                                    <v-icon class="miniActionIcon" v-if="item.orderDetailStatusId == 2" color="green" v-on:click="changeItemStateKitchen(elem.id, item.id, 3)">mdi-chef-hat</v-icon>
                                                    <v-icon class="miniActionIcon" v-if="item.orderDetailStatusId == 3" color="red lighten-2">room_service</v-icon>
                                                    <v-icon class="miniActionIcon" v-if="item.orderDetailStatusId == 4" color="cyan lighten-1">how_to_reg</v-icon>
                                                    <v-icon class="miniActionIcon" v-if="item.orderDetailStatusId > 1 && item.orderDetailStatusId < 4" v-on:click="changeBackKitchen(elem.id, item.id)">undo</v-icon>
                                                </v-list-item-subtitle>
                                            </v-list-item>
                                        </v-list>

                                        <v-list v-if="elem.orderDetails.some(o=>(o.menuItemCategoryId > 1 && o.menuItemCategoryId < 7))">
                                            <label><strong>- - - PLATOS - - - </strong></label>
                                            <v-list-item v-for="item in elem.orderDetails" v-if="(item.menuItemCategoryId > 1 && item.menuItemCategoryId < 7)"
                                                         :key="item.id"
                                                         style="min-height: 25px !important; border-bottom: 0.5px solid lightgray">
                                                <v-list-item-title style="color: #f9b903" v-if="item.orderDetailStatusId == 1" class="text-left">
                                                    {{item.menuItemName}}<span v-if="item.relatedMenuItemId != null">con {{item.relatedMenuItemName}}</span>
                                                </v-list-item-title>
                                                <v-list-item-title style="color: green" v-if="item.orderDetailStatusId == 2" class="text-left">
                                                    {{item.menuItemName}}<span v-if="item.relatedMenuItemId != null">con {{item.relatedMenuItemName}}</span>
                                                </v-list-item-title>
                                                <v-list-item-title style="color: pink;" v-if="item.orderDetailStatusId == 3" class="text-left">
                                                    {{item.menuItemName}}<span v-if="item.relatedMenuItemId != null">con {{item.relatedMenuItemName}}</span>
                                                </v-list-item-title>
                                                <v-list-item-title style="color: #26C6DA; text-decoration: line-through" v-if="item.orderDetailStatusId == 4" class="text-left">
                                                    {{item.menuItemName}}<span v-if="item.relatedMenuItemId != null">con {{item.relatedMenuItemName}}</span>
                                                </v-list-item-title>
                                                <v-list-item-subtitle class="text-right" style="max-width:60px !important">
                                                    <v-icon class="miniActionIcon" v-if="item.orderDetailStatusId == 1" color="yellow darken-2" v-on:click="changeItemStateKitchen(elem.id, item.id, 2)">pending_actions</v-icon>
                                                    <v-icon class="miniActionIcon" v-if="item.orderDetailStatusId == 2" color="green" v-on:click="changeItemStateKitchen(elem.id, item.id, 3)">mdi-chef-hat</v-icon>
                                                    <v-icon class="miniActionIcon" v-if="item.orderDetailStatusId == 3" color="red lighten-2">room_service</v-icon>
                                                    <v-icon class="miniActionIcon" v-if="item.orderDetailStatusId == 4" color="cyan lighten-1">how_to_reg</v-icon>
                                                    <v-icon class="miniActionIcon" v-if="item.orderDetailStatusId > 1 && item.orderDetailStatusId < 4" v-on:click="changeBackKitchen(elem.id, item.id)">undo</v-icon>
                                                </v-list-item-subtitle>
                                            </v-list-item>
                                        </v-list>

                                        <v-list v-if="elem.orderDetails.some(o=>o.menuItemCategoryId == 7)">
                                            <label><strong>- - - POSTRES - - - </strong></label>
                                            <v-list-item v-for="item in elem.orderDetails" v-if="item.menuItemCategoryId == 7"
                                                         :key="item.id"
                                                         style="min-height: 25px !important; border-bottom: 0.5px solid lightgray">
                                                <v-list-item-title style="color: #f9b903" v-if="item.orderDetailStatusId == 1" class="text-left">
                                                    {{item.menuItemName}}
                                                </v-list-item-title>
                                                <v-list-item-title style="color:green" v-if="item.orderDetailStatusId == 2" class="text-left">
                                                    {{item.menuItemName}}
                                                </v-list-item-title>
                                                <v-list-item-title style="color: pink;" v-if="item.orderDetailStatusId == 3" class="text-left">
                                                    {{item.menuItemName}}
                                                </v-list-item-title>
                                                <v-list-item-title style="color: #26C6DA; text-decoration: line-through" v-if="item.orderDetailStatusId == 4" class="text-left">
                                                    {{item.menuItemName}}
                                                </v-list-item-title>
                                                <v-list-item-subtitle class="text-right" style="max-width:60px !important">
                                                    <v-icon class="miniActionIcon" v-if="item.orderDetailStatusId == 1" color="yellow darken-2" v-on:click="changeItemStateKitchen(elem.id, item.id, 2)">pending_actions</v-icon>
                                                    <v-icon class="miniActionIcon" v-if="item.orderDetailStatusId == 2" color="green" v-on:click="changeItemStateKitchen(elem.id, item.id, 3)">mdi-chef-hat</v-icon>
                                                    <v-icon class="miniActionIcon" v-if="item.orderDetailStatusId == 3" color="red lighten-2">room_service</v-icon>
                                                    <v-icon class="miniActionIcon" v-if="item.orderDetailStatusId == 4" color="cyan lighten-1">how_to_reg</v-icon>
                                                    <v-icon class="miniActionIcon" v-if="item.orderDetailStatusId > 1 && item.orderDetailStatusId < 4" v-on:click="changeBackKitchen(elem.id, item.id)">undo</v-icon>
                                                </v-list-item-subtitle>
                                            </v-list-item>
                                        </v-list>
                                    </v-card-text>
                                </template>
                        </v-col>
                    </div>
                    <div v-for="n in Math.ceil(ordersKitchen.length / 4) - 1" class="carousel-item">
                        <v-col v-for="(elem,index) in ordersKitchen"
                               v-if="n > 0 && index < n*4+4 && index >=n*4"
                               :key="elem.id"
                               elevation="10"
                               :cols="3"
                               style="margin-top:-6vh;vertical-align:top !important"
                               class="d-inline-block w-50">
                            <div class="text-center rope">
                                <img width="108%" src="@Url.Content("/images/ropeTransparent.png")" />
                            </div>
                            <div class="text-center clip">
                                <img width="50" src="@Url.Content("/images/clipTransparent.png")" />
                            </div>
                            <v-card style="z-index: 4;">
                                <v-card-title class="py-0" style="justify-content:center">
                                    &nbsp;
                                </v-card-title>
                                <v-card-title class="py-1">
                                    <label style="font-size:13px">
                                        {{jsglobals.Waiter}}: {{elem.waiterName}}
                                    </label>
                                    <v-spacer></v-spacer>
                                    {{jsglobals.Table}} {{elem.tableNumber}}
                                </v-card-title>
                                <v-card-title class="pt-0">
                                    <label style="font-size:14px">{{jsglobals.Request}}: {{elem.requestedTimeString}}</label>
                                    <v-spacer></v-spacer>
                                    <v-chip outlined :color="elem.cronoWarning">{{elem.tiempoEnCocina}}</v-chip>
                                </v-card-title>
                                <template>
                                    <label color="gray">&nbsp;&nbsp;********************************************</label>
                                    <v-card-text style="font-size:16px;color:black" class="text-center pa-0">
                                        <v-list v-if="elem.orderDetails.some(o=>o.menuItemCategoryId == 1)">
                                            <label><strong>- - - ENTRADAS - - - </strong></label>
                                            <v-list-item v-for="item in elem.orderDetails" v-if="item.menuItemCategoryId == 1"
                                                         :key="item.id"
                                                         style="min-height:25px !important;border-bottom:0.5px solid lightgray">
                                                <v-list-item-title style="color: #f9b903" v-if="item.orderDetailStatusId == 1" class="text-left">
                                                    {{item.menuItemName}}
                                                </v-list-item-title>
                                                <v-list-item-title style="color: green" v-if="item.orderDetailStatusId == 2" class="text-left">
                                                    {{item.menuItemName}}
                                                </v-list-item-title>
                                                <v-list-item-title style="color: pink;" v-if="item.orderDetailStatusId == 3" class="text-left">
                                                    {{item.menuItemName}}
                                                </v-list-item-title>
                                                <v-list-item-title style="color: #26C6DA; text-decoration: line-through" v-if="item.orderDetailStatusId == 4" class="text-left">
                                                    {{item.menuItemName}}
                                                </v-list-item-title>
                                                <v-list-item-subtitle class="text-right" style="max-width:60px !important">
                                                    <v-icon class="miniActionIcon" v-if="item.orderDetailStatusId == 1" color="yellow darken-2" v-on:click="changeItemStateKitchen(elem.id, item.id, 2)">pending_actions</v-icon>
                                                    <v-icon class="miniActionIcon" v-if="item.orderDetailStatusId == 2" color="green" v-on:click="changeItemStateKitchen(elem.id, item.id, 3)">mdi-chef-hat</v-icon>
                                                    <v-icon class="miniActionIcon" v-if="item.orderDetailStatusId == 3" color="red lighten-2">room_service</v-icon>
                                                    <v-icon class="miniActionIcon" v-if="item.orderDetailStatusId == 4" color="cyan lighten-1">how_to_reg</v-icon>
                                                    <v-icon class="miniActionIcon" v-if="item.orderDetailStatusId > 1 && item.orderDetailStatusId < 4" v-on:click="changeBackKitchen(elem.id, item.id)">undo</v-icon>
                                                </v-list-item-subtitle>
                                            </v-list-item>
                                        </v-list>

                                        <v-list v-if="elem.orderDetails.some(o=>(o.menuItemCategoryId > 1 && o.menuItemCategoryId < 7))">
                                            <label><strong>- - - PLATOS - - - </strong></label>
                                            <v-list-item v-for="item in elem.orderDetails" v-if="(item.menuItemCategoryId > 1 && item.menuItemCategoryId < 7)"
                                                         :key="item.id"
                                                         style="min-height: 25px !important; border-bottom: 0.5px solid lightgray">
                                                <v-list-item-title style="color: #f9b903" v-if="item.orderDetailStatusId == 1" class="text-left">
                                                    {{item.menuItemName}}<span v-if="item.relatedMenuItemId != null">con {{item.relatedMenuItemName}}</span>
                                                </v-list-item-title>
                                                <v-list-item-title style="color: green" v-if="item.orderDetailStatusId == 2" class="text-left">
                                                    {{item.menuItemName}}<span v-if="item.relatedMenuItemId != null">con {{item.relatedMenuItemName}}</span>
                                                </v-list-item-title>
                                                <v-list-item-title style="color: pink; " v-if="item.orderDetailStatusId == 3" class="text-left">
                                                    {{item.menuItemName}}<span v-if="item.relatedMenuItemId != null">con {{item.relatedMenuItemName}}</span>
                                                </v-list-item-title>
                                                <v-list-item-title style="color: #26C6DA; text-decoration: line-through" v-if="item.orderDetailStatusId == 4" class="text-left">
                                                    {{item.menuItemName}}<span v-if="item.relatedMenuItemId != null">con {{item.relatedMenuItemName}}</span>
                                                </v-list-item-title>
                                                <v-list-item-subtitle class="text-right" style="max-width:60px !important">
                                                    <v-icon class="miniActionIcon" v-if="item.orderDetailStatusId == 1" color="yellow darken-2" v-on:click="changeItemStateKitchen(elem.id, item.id, 2)">pending_actions</v-icon>
                                                    <v-icon class="miniActionIcon" v-if="item.orderDetailStatusId == 2" color="green" v-on:click="changeItemStateKitchen(elem.id, item.id, 3)">mdi-chef-hat</v-icon>
                                                    <v-icon class="miniActionIcon" v-if="item.orderDetailStatusId == 3" color="red lighten-2">room_service</v-icon>
                                                    <v-icon class="miniActionIcon" v-if="item.orderDetailStatusId == 4" color="cyan lighten-1">how_to_reg</v-icon>
                                                    <v-icon class="miniActionIcon" v-if="item.orderDetailStatusId > 1 && item.orderDetailStatusId < 4" v-on:click="changeBackKitchen(elem.id, item.id)">undo</v-icon>
                                                </v-list-item-subtitle>
                                            </v-list-item>
                                        </v-list>

                                        <v-list v-if="elem.orderDetails.some(o=>o.menuItemCategoryId == 7)">
                                            <label><strong>- - - POSTRES - - - </strong></label>
                                            <v-list-item v-for="item in elem.orderDetails" v-if="item.menuItemCategoryId == 7"
                                                         :key="item.id"
                                                         style="min-height: 25px !important; border-bottom: 0.5px solid lightgray">
                                                <v-list-item-title style="color: #f9b903" v-if="item.orderDetailStatusId == 1" class="text-left">
                                                    {{item.menuItemName}}
                                                </v-list-item-title>
                                                <v-list-item-title style="color:green" v-if="item.orderDetailStatusId == 2" class="text-left">
                                                    {{item.menuItemName}}
                                                </v-list-item-title>
                                                <v-list-item-title style="color: pink;" v-if="item.orderDetailStatusId == 3" class="text-left">
                                                    {{item.menuItemName}}
                                                </v-list-item-title>
                                                <v-list-item-title style="color: #26C6DA; text-decoration: line-through" v-if="item.orderDetailStatusId == 4" class="text-left">
                                                    {{item.menuItemName}}
                                                </v-list-item-title>
                                                <v-list-item-subtitle class="text-right" style="max-width:60px !important">
                                                    <v-icon class="miniActionIcon" v-if="item.orderDetailStatusId == 1" color="yellow darken-2" v-on:click="changeItemStateKitchen(elem.id, item.id, 2)">pending_actions</v-icon>
                                                    <v-icon class="miniActionIcon" v-if="item.orderDetailStatusId == 2" color="green" v-on:click="changeItemStateKitchen(elem.id, item.id, 3)">mdi-chef-hat</v-icon>
                                                    <v-icon class="miniActionIcon" v-if="item.orderDetailStatusId == 3" color="red lighten-2">room_service</v-icon>
                                                    <v-icon class="miniActionIcon" v-if="item.orderDetailStatusId == 4" color="cyan lighten-1">how_to_reg</v-icon>
                                                    <v-icon class="miniActionIcon" v-if="item.orderDetailStatusId > 1 && item.orderDetailStatusId < 4" v-on:click="changeBackKitchen(elem.id, item.id)">undo</v-icon>
                                                </v-list-item-subtitle>
                                            </v-list-item>
                                        </v-list>
                                    </v-card-text>
                                </template>
                            </v-card>
                        </v-col>
                    </div>

                </div>
                <div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true" style="border-radius:5px; background-color: rgb(189, 100, 118) !important; margin-left: -300px !important"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                </div>
                <div>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true" style="border-radius: 5px; background-color: rgb(189, 100, 118) !important; margin-right: -300px !important"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <v-btn class="float-right;" style=" right: 4vw; bottom: 8vh; z-index: 10; position: absolute"
                   fab dark color="cyan darken-3" @@click="help = true">
                <v-icon dark>
                    question_mark
                </v-icon>
            </v-btn>
            <v-snackbar v-model="help"
                        :multi-line="true"
                        color="indigo"
                        outlined
                        right
                        vertical
                        style="position: absolute; height:auto;">
                <p style="color: #f9b903"><v-icon class="miniActionIcon" color="yellow darken-2">pending_actions</v-icon> {{jsglobals.NewRequest}}</p>
                <p style="color:green"><v-icon class="miniActionIcon" color="green">mdi-chef-hat</v-icon> {{jsglobals.Cooking}}</p>
                <p style="color:pink"><v-icon class="miniActionIcon" color="red lighten-2">room_service</v-icon>  {{jsglobals.ReadyToTake}}</p>
                <p style="color: #26C6DA"><v-icon class="miniActionIcon" color="cyan lighten-1">how_to_reg</v-icon>  {{jsglobals.Delivered}}</p>
                <template v-slot:action="{ attrs }">
                    <v-btn color="pink"
                           text
                           v-bind="attrs"
                           v-on:click="help = false">
                        Cerrar
                    </v-btn>
            </template>
            </v-snackbar>
        </template>


    </v-row>

</template>




