@model KO.Web.Models.Pacientes.PacienteViewModel

@section scripts
{
    <script type="text/javascript" asp-src-include="~/js/KO/pacientes/pacientes-detalle.js" asp-append-version="true"></script>
    <script type="text/javascript">
        vueAppParams.data.model =@Html.Raw(Model.ToJsonModel())
    </script>
}
<link rel="stylesheet" asp-href-include="~/css/vacunatorio.css" />

<v-row v-if="breadcrums.length > 0" class="breadcrum-row">
    <v-breadcrumbs :items="breadcrums">
        <template v-slot:item="{ item }">
            <v-breadcrumbs-item :href="item.href"
                                :disabled="item.disabled">
                <span style="font-weight: bold;"> {{  item.text.toUpperCase() }}</span>
            </v-breadcrumbs-item>
        </template>
    </v-breadcrumbs>

</v-row>
<template>
    <v-container class="mt-8">

        <v-row no-gutters
               style="flex-wrap: nowrap;">
            <v-col cols="6"
                   class="flex-grow-1 flex-shrink-0 mx-auto">
                <v-card class="notebook">
                    <template>
                        <v-form ref="form" lazy-validation>
                            <v-container>
                                <v-row class="mt-4 ml-4 mr-4 mb-0">
                                    <v-col cols="12">
                                        <v-text-field v-model="model.Nombre"
                                                      :error-messages="errors.Nombre"
                                                      counter="50"
                                                      :rules="[ vrules.required , v => vrules.maxLength(v,50,jsglobals.Nombre) ]"
                                                      :label="jsglobals.Nombre">
                                        </v-text-field>
                                    </v-col>
                                    <v-col cols="12">
                                        <v-text-field v-model="model.Apellido"
                                                      :error-messages="errors.Apellido"
                                                      counter="50"
                                                      :rules="[ vrules.required , v => vrules.maxLength(v,50,jsglobals.Apellido) ]"
                                                      :label="jsglobals.Apellido">
                                        </v-text-field>
                                    </v-col>
                                    <v-col cols="12">
                                        <v-autocomplete v-model="model.IdObraSocial"
                                                  :items="model.ListaObrasSociales"
                                                  item-text="Nombre"
                                                  item-value="Id"
                                                  menu-props="auto"
                                                  :label="jsglobals.ObraSocial">
                                        </v-autocomplete>
                                    </v-col>
                                    <v-col cols="12">
                                        <v-text-field v-model="model.NumeroObraSocial"
                                                      :error-messages="errors.NumeroObraSocial"
                                                      counter="50"
                                                      :rules="[v => vrules.numeroYGuion(v) ]"
                                                      :label="jsglobals.NumeroObraSocial">
                                        </v-text-field>
                                    </v-col>
                                    <v-col class="col-lg-8 mb-5">
                                        <v-menu v-model="menuFechaNacimiento"
                                                :close-on-content-click="false"
                                                :nudge-right="40"
                                                transition="scale-transition"
                                                offset-y
                                                min-width="auto">
                                            <template v-slot:activator="{ on, attrs }">
                                                <v-text-field :value="formatoFecha(filtros.FechaNacimientoSeleccionada)"
                                                              :label="jsglobals.FechaNacimiento"
                                                              prepend-icon="mdi-calendar"
                                                              :hint="jsglobals.Formato"
                                                              v-bind="attrs"
                                                              v-on="on"></v-text-field>
                                            </template>
                                            <v-date-picker v-model="filtros.FechaNacimientoSeleccionada"
                                                           no-title
                                                           scrollable
                                                           locale="es-419"
                                                           :max="hoy()"
                                                           @@input="menuFechaNacimiento = false">
                                            </v-date-picker>
                                        </v-menu>
                                    </v-col>
                                </v-row>
                                <v-row class="mt-0 mb-2 mr-2">
                                    <v-col cols="12">
                                        <v-tooltip bottom>
                                            <template v-slot:activator="{ on, attrs }">
                                                <v-btn class="float-right"
                                                       v-bind="attrs"
                                                       v-on="on"
                                                       v-on:click="guardarPaciente"
                                                       color="primary"
                                                       small
                                                       :disabled="submiting"
                                                       :loading="submiting"
                                                       elevation="2">
                                                    <v-icon small class="pr-1">mdi-content-save</v-icon>
                                                    {{jsglobals.Guardar}}
                                                </v-btn>
                                            </template>
                                            <span>   {{jsglobals.Guardar}}</span>
                                        </v-tooltip>
                                        <v-tooltip bottom>
                                            <template v-slot:activator="{ on, attrs }">
                                                <v-btn class="float-right mr-3"
                                                       v-bind="attrs"
                                                       v-on="on"
                                                       v-on:click="volver()"
                                                       color="primary"
                                                       small
                                                       elevation="2"
                                                       :disabled="submiting"
                                                       :loading="submiting">
                                                    <v-icon small class="pr-1">mdi-arrow-left-circle</v-icon>
                                                    {{jsglobals.Volver}}
                                                </v-btn>
                                            </template>
                                            <span>{{jsglobals.Volver}}</span>
                                        </v-tooltip>
                                    </v-col>
                                </v-row>
                            </v-container>
                        </v-form>
                    </template>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>

