<!--model KO.Web.Models.Pacientes.PacienteViewModel

section scripts
{
    <script type="text/javascript" src="~/js/KO/pacientes/pacientes-listado.js"></script>
}
<link rel="stylesheet" href="~/css/vacunatorio.css" />

<v-row d-flex justify="center">
    <v-col sm="12">
        <v-card class="my-5">
            <v-row class="d-flex mt-5" justify="center">
                <v-progress-circular v-if="loadingColada || loadingCestas" :size="50" color="primary" indeterminate style="position:absolute;z-index:10;margin-top:200px"></v-progress-circular>
            </v-row>
            <v-card-text>
                <template>
                    <v-stepper v-model="Paso"
                               vertical>
                        <v-stepper-step :complete="Paso > 1"
                                        step="1">
                            <span v-if="Paso == 1">{{jsglobals.SeleccionarColada}}</span>
                            <span v-if="Paso > 1">{{jsglobals.Colada}}: <span style="font-weight:800;font-size:20px;height:80px" readonly plain class="blue--text text--darken-4 mx-5 mb-1">{{colada.nombre}}</span></span>
                        </v-stepper-step>
                        <v-stepper-content step="1">
                            <v-btn style="background-color:#BBDEFB !important;font-weight:800;font-size:20px;height:80px" outlined class="blue--text text--darken-4 mx-5 mb-2" elevation="4"
                                   x-large v-for="item in coladas" v-on:click="obtenerColadaYReceta(item)"
                                   :disabled="loadingColada">{{item.nombre}}</v-btn>
                        </v-stepper-content>
                        <v-stepper-step v-show="Paso >= 2" :complete="Paso >= 2"
                                        step="2">
                            <span>{{jsglobals.Receta}}: <span style="font-weight:800;font-size:20px;height:80px" readonly plain class="blue--text text--darken-4 mx-5 mb-1">{{colada.nombreReceta}}</span></span>
                        </v-stepper-step>
                        <v-stepper-content step="2">
                        </v-stepper-content>
                        <v-stepper-step v-show="Paso >= 3" :complete="Paso >= 3"
                                        step="3">
                            <span>{{jsglobals.Cesta}}: <span v-if="Paso > 2" style="font-weight:800;font-size:20px;height:80px" readonly plain class="blue--text text--darken-4 mx-5 mb-1">{{jsglobals.Cesta}} {{cestaElegida.numero}}</span></span>
                        </v-stepper-step>
                        <v-stepper-content step="2">
                            <v-btn style="background-color:#BBDEFB !important;font-weight:800;font-size:20px;height:80px" outlined class="blue--text text--darken-4 mx-5 mb-2" elevation="4"
                                   x-large v-for="item in colada.listaCestas" v-on:click="obtenerVia(item)">
                                <span>{{jsglobals.Cesta}} {{item.numero}}</span>
                                <span>
                                    <v-icon v-if="item.fechaHoraCierre != null" class="blue--text text--darken-4">shopping_basket</v-icon>
                                    <v-icon v-if="item.fechaHoraCierre != null" class="blue--text text--darken-4" style="position: absolute; font-size: 40px; right: -7px; top: -4px;">close</v-icon>
                                </span>
                            </v-btn>
                        </v-stepper-content>
                        <v-stepper-step v-show="Paso >= 4" :complete="Paso >= 4"
                                        step="4">
                            <span>
                                {{jsglobals.Via}}:
                                <span v-if="Paso >= 3 && cestaElegida.idVia == 1" style="font-weight:800;font-size:20px;height:80px" readonly plain class="blue--text text--darken-4 mx-5 mb-1">{{jsglobals.Recta}}</span>
                                <span v-if="Paso >= 3 && cestaElegida.idVia == 2" style="font-weight:800;font-size:20px;height:80px" readonly plain class="blue--text text--darken-4 mx-5 mb-1">{{jsglobals.Curva}}</span>
                            </span>
                        </v-stepper-step>
                        <v-stepper-content step="3">
                            <v-radio-group row v-model="cestaElegida.idVia" class="blue--text text--darken-4 mx-5">
                                <v-radio :disabled="cestaElegida.activo || cestaElegida.fechaHoraCierre != null" name="vias" :label="jsglobals.Recta" :value="1"></v-radio>
                                <v-radio :disabled="cestaElegida.activo || cestaElegida.fechaHoraCierre != null" name="vias" :label="jsglobals.Curva" :value="2"></v-radio>
                            </v-radio-group>
                        </v-stepper-content>
                </template>
            </v-card-text>

            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn v-if="Paso >= 3" class="mb-5" color="primary"
                       :disabled="Paso > 3"
                       v-on:click="volverAPasoAnterior()">
                    {{jsglobals.Volver}}
                </v-btn>
                <v-btn v-if="Paso >= 3" color="primary" class="mb-5 mr-10" v-on:click="comenzarCestas(colada.id)" :loading="loadingCestas">
                    {{jsglobals.Comenzar}}
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-col>
</v-row>-->


@*<v-stepper-step :complete="Paso>3"
                    step="3"
                    class="labelsInicio">
        <span v-if="Paso <= 3">{{jsglobals.SeleccionarVia}}</span>
        <span v-if="Paso > 3">{{jsglobals.ViaSeleccionada}}</span>
    </v-stepper-step>

    <v-stepper-content step="3"
                       :complete="Paso>3">*@
@*<v-data-table dense
                  hide-default-footer
                  :headers="headers"
                  :items="cestas"
                  item-key="id"
                  class="elevation-2 ma-auto"
                  :expanded.sync="expanded"
                  show-expand
                  :single-expand="singleExpand"
                  :loading="loadingCargas"
                  :loading-text=jsglobals.ObteniendoCargas
                  :no-data-text=jsglobals.SinRegistros>
        <template v-slot:item.idVia="{ item }">
            <v-layout justify-center align-center small>
                <v-radio-group row v-model="item.idVia">
                    <v-radio :disabled="item.activo || item.fechaHoraCierre != null" name="vias" :label="jsglobals.Recta" :value="1"></v-radio>
                    <v-radio :disabled="item.activo || item.fechaHoraCierre != null" name="vias" :label="jsglobals.Curva" :value="2"></v-radio>
                </v-radio-group>
            </v-layout>
        </template>
        <template v-slot:item.estado="{ item }">
            <v-layout justify-center align-center>
                <v-tooltip left v-if="item.activo">
                    <template v-slot:activator="{ on, attrs }">
                        <v-icon v-bind="attrs" class="teal--text text--lighten-1">
                            file_upload
                        </v-icon>
                    </template>
                    <span>
                        {{jsglobals.Cargando}}
                    </span>
                </v-tooltip>
                <v-tooltip left v-if="item.fechaHoraCierre != null">
                    <template v-slot:activator="{ on, attrs }">
                        <v-icon v-bind="attrs" class="teal--text text--lighten-1">shopping_basket</v-icon>
                        <v-icon v-bind="attrs" class="teal--text text--lighten-1" style="position: absolute; font-size:40px">close</v-icon>
                    </template>
                    <span>
                        {{jsglobals.Cerrada}}
                    </span>
                </v-tooltip>
                <v-tooltip left v-if="!item.activo && item.fechaHoraCierre == null">
                    <template v-slot:activator="{ on, attrs }">
                        <v-icon v-bind="attrs" class="teal--text text--lighten-1 ml-5">
                            scheduled
                        </v-icon>

                    </template>
                    <span>
                        {{jsglobals.Pendiente}}
                    </span>
                </v-tooltip>
            </v-layout>

        </template>
        <template v-slot:expanded-item="{ headers, item }">
            <td :colspan="headers.length" class="py-5 px-15">
                <v-data-table :headers="capasHeaders"
                              :items="item.listaDetalles"
                              item-key="Orden"
                              dense
                              class="elevation-1 mx-15"
                              hide-default-footer
                              :sort-by="['orden']"
                              :sort-desc="[true]">
                    <template v-slot:item.orden="{ item}">
                        <p cols="2" v-if="item.fechaHoraActivacion != null">{{ item.orden }}</p>
                        <p cols="2" v-else>--</p>
                    </template>
                </v-data-table>
            </td>

        </template>
    </v-data-table>
    </v-stepper>
                  </template>*@