@model KO.Web.Models.Pacientes.PacienteViewModel

@section scripts
{
    <script type="text/javascript" asp-src-include="~/js/KO/pacientes/pacientes-listado.js" asp-append-version="true"></script>
}
<link rel="stylesheet"  asp-href-include="~/css/vacunatorio.css" />

<!--Grilla-->
<v-row class="d-flex mt-2">
    <v-col cols="11" class="text-end">
        <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
                <v-btn class="mb-1"
                       v-bind="attrs"
                       v-on="on"
                       v-on:click="agregarPaciente"
                       color="primary"
                       elevation="2">
                    <v-icon small class="pr-1">mdi-plus</v-icon>
                    {{jsglobals.Nuevo}} {{jsglobals.Paciente}}
                </v-btn>
            </template>
            <span>{{jsglobals.AgregarPaciente}}</span>
        </v-tooltip>
    </v-col>
</v-row>
<v-row class="d-flex justify-center align-center mt-3 ml-7 mr-7">
    <v-col cols="11" class="mt-0">
        <v-card class="my-0">
            <v-card-title v-if="breadcrums.length > 0" class="py-0">
                <v-col lg="5" sm="5">
                    <v-breadcrumbs :items="breadcrums" class="p-0 m-0 pt-10">
                        <template v-slot:item="{ item }">
                            <v-breadcrumbs-item :href="item.href"
                                                :disabled="item.disabled">
                                <span style="font-weight: bold;font-size:1.2em"> {{  item.text.toUpperCase() }}</span>
                            </v-breadcrumbs-item>
                        </template>
                    </v-breadcrumbs>
                </v-col>
                <v-spacer></v-spacer>
                <v-col lg="5" sm="5" class="mr-10">
                    <v-text-field v-model="search"
                                  append-icon="mdi-magnify"
                                  label="Filtrar"
                                  single-line
                                  hide-details></v-text-field>
                </v-col>
            </v-card-title>
            <v-data-table :headers="headers"
                          :items="gridData"
                          :search="search"
                          :items-per-page="10"
                          class="elevation-2 row-height-50"
                          item-key="matricula"
                          style="position: relative;"
                          :loading="loadingPacientes"
                          :loading-text=jsglobals.ObteniendoPacientes
                          :no-data-text=jsglobals.LabelNoCoincidences
                          :footer-props="{
                        'items-per-page-text':jsglobals.FilasPorPagina,
                        'items-per-page-all-text':jsglobals.Todas,
                        'items-per-page-options':[ 10,  25,  50,  -1],
                            pageText: '{0} - {1} de {2}'
                      }">
                <template v-slot:item.acciones="{ item }">
                    <v-tooltip left>
                        <template v-slot:activator="{ on, attrs }">
                            <v-icon large v-on="on" v-bind="attrs" class="mr-2" v-on:click="editarPaciente(item.id)" color="indigo">edit_note</v-icon>
                        </template>
                        <span>
                            {{jsglobals.Editar}}
                        </span>
                </template>
                <template v-slot:footer>
                    <v-tooltip bottom>
                        <template v-slot:activator="{ on, attrs }">
                            <v-btn v-on:click="exportarLista"
                                   color="primary"
                                   small
                                   v-bind="attrs"
                                   v-on="on"
                                   elevation="2"
                                   class="bkg-white margenMobile"
                                   style="position: absolute; margin:15px">
                                <v-icon small class="pr-1">
                                    mdi-file-export
                                </v-icon>
                                {{jsglobals.Exportar}}
                            </v-btn>
                        </template>
                        <span>{{jsglobals.ExportarExcel}}</span>
                    </v-tooltip>
                </template>
            </v-data-table>
        </v-card>
    </v-col>
</v-row>




