/* select rows datatable */
html:not([dir=rtl]) .custom-select-sm {
	padding-left: .5rem;
	padding-right: 1.5rem;
}

/* Mensajes de error en formularios */
.field-validation-error {
	margin-top: .25rem;
	margin-left: 4em;
	font-size: 80%;
}

/* Div de notificaciones */
#rowDynamicNotification {
	position: absolute;
	right: 0px;
	bottom: 0px;
	margin-bottom: 4em;
	margin-right: 1em;
}

/* DefaultVueCSS-Overwritten */
.v-snack {
	align-items: center !important;
}

.v-snack__content {
	font-size: 1.3rem !important;
}

.v-application p {
	margin-bottom: 6px;
}

.v-toolbar__content, .v-toolbar__extension {
	justify-content: space-between;
}

.v-expansion-panel--active > .v-expansion-panel-header {
	min-height: 45px !important;
}

.v-application--is-ltr .v-input--selection-controls__input {
	margin-right: 6px !important;
}

.theme--light.v-select .v-select__selections {
	color: rgba(0,0,0,.87);
	font-size: 16px !important
}

.theme--light.v-label {
	color: teal;
	font-weight: 500;
}

/* SELF-RESTO STYLES */

/* Main Backgrounds */
.backgroundKitchen {
	margin: 0 0;
	background: url("../images/BackgroundVerde.jpg");
	background-repeat: repeat;
}

.backgroundAdmin {
	margin: 0 0;
	background: url("../images/BackgroundCeleste.jpg");
	background-repeat: repeat;
}

.backgroundWaiter {
	margin: 0 0;
	background: url("../images/BackgroundNaranja.jpg");
	background-repeat: repeat;
}

.backgroundClient {
	margin: 0 0;
	background: url("../images/BackgroundRojo.jpg");
	background-repeat: repeat;
}

.login-bg {
	height: 100vh;
    width: 100vw;
	margin: 0 0;
	background: url("../images/bg.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.headerImage {
width: 20%;
}

/* Links <a> del Menu Left */
.menu-left-links {
	text-decoration: none;
	color: white !important;
	display: flex;
	width: 100%;
}

/* Datatables & Simple Tables*/
.selfResto-headers {
	background-color: rgb(165, 64, 71);
}

.v-data-table-header {
	text-transform: uppercase;
	background-color: rgb(165, 64, 71);
}

.theme--light.v-data-table > .v-data-table__wrapper > table > thead > tr > th {
	color: white !important;
	font-weight: 500 !important;
	background-color: rgb(165, 64, 71);
}

.row-height-50.v-data-table tbody tr td {
	line-height: 1 !important;
	font-size:14px !important;
}

.theme--light.v-data-table .v-row-group__header {
	background: #BBDEFB !important;
}

.theme--light.v-data-table > .v-data-table__wrapper > table > tbody > tr.v-data-table__expanded__row {
	background: #BBDEFB !important;
}

.v-data-table.orderItemsTable {
	border-collapse: collapse;
}

table, tr {
	border: 11px solid #f9d8de;
	border-collapse: collapse;
}

.orderItemsTable.theme--light.v-data-table > .v-data-table__wrapper > table > thead > tr > th {
	background-color: white !important;
	font-weight: bold !important;
	color: #f9d8de !important;
	font-size: 14px !important;
}


/* Breadcrumbs */
.breadcrum-row {
	background-color: white !important;
	height: 30px;
	position: sticky;
	z-index: 2;
	box-shadow: 0px 0px 2px black;
}

.breadcrumbActive {
	color: #a54047 !important;
}

.breadcrumbInactive {
	color: gray !important;
}


/* Product Quantity */
.wrapper {
	height: 30px;
	display: flex;
}

.minusPlus {
	font-size: 20px !important;
	color: #a54047 !important;
	background-color: #EF9A9A !important;
	font-weight: 600 !important;
	height: 23px;
	width: 10px !important;
}

.quantity {
	text-align: center;
	width: 32px;
	font-size: 14px;
	font-weight: 600;
	border: 1px solid #E1E8EE;
	border-radius: 2px;
}


/* Order Detail */
.addItem {
	border: 2px solid #a54047;
	padding: 10px;
	color: #a54047;
	margin-top: -8px;
	background-color: gold !important;
}


/* Waiter Page */
.alertWaiter {
	animation-name: alertWaiter;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	
}

@keyframes alertWaiter {
	0% {
		color: red;
	}

	100% {
		color: gold;
		transform: scale(1.5);
	}
}


/* Kitchen Page */
.clip {
	position: relative;
	top: 26px;
	z-index: 6;
}

.rope {
	position: relative;
	top: 52px;
	z-index: 5;
}

.miniActionIcon {
	background-color: #f5f5f5;
	border-radius: 10px;
	padding: 1px;
}


/* Other */
.hide {
	display: none;
}

.show {
	display: flex;
}

.rotar90der {
	transform: rotate(90deg);
}

.theme--light.v-text-field--filled > .v-input__control > .v-input__slot {
	background-color: #FFCDD2 !important;
}

.selectImage .v-text-field--filled > .v-input__control > .v-input__slot {
	background-color: #FFCDD2 !important;
}

.mdi-camera::before {
	color: #E57373;
}