.external-login {
	margin-top: 3%;
}
/*select rows datatable*/
html:not([dir=rtl]) .custom-select-sm {
	padding-left: .5rem;
	padding-right: 1.5rem;
}
/*Mensajes de error en formularios*/
.field-validation-error {
	margin-top: .25rem;
	margin-left: 4em;
	font-size: 80%;
}
/*Div de notificaciones*/
#rowDynamicNotification {
	position: absolute;
	right: 0px;
	bottom: 0px;
	margin-bottom: 4em;
	margin-right: 1em;
}

.v-data-table-header {
	text-transform: uppercase;
	background-color: #4074a5;
}



.theme--light.v-data-table > .v-data-table__wrapper > table > thead > tr > th {
	color: white !important;
	font-weight: 500 !important;
	background-color: #4074a5;
}

.bkg-white {
	background-color: white !important;
}

.v-toolbar__content, .v-toolbar__extension {
	justify-content: space-between;
}

/*.v-breadcrumbs {
	padding: 12px 12px !important;
}*/

.breadcrum-row {
	background-color: white !important;
	/*width: 110%;*/
	height: 45px;
	position: sticky;
	/*top: 65px;*/
	z-index: 2;
	box-shadow: 0px 0px 2px black;
}

.v-expansion-panel--active > .v-expansion-panel-header {
	min-height: 45px !important;
}

.v-application--is-ltr .v-input--selection-controls__input {
	margin-right: 6px !important;
}

.notebook {
	border-radius: 4px !important;
	border-left-color: #4074a5 !important;
	border-left-width: 1rem !important;
	border-left-style: solid !important;
}

.breadcrumBlue {
	color: #1976d2;
	font-weight: bold;
	font-size: 14px;
}

.breadcrumGray {
	color: rgba(0, 0, 0, 0.38);
	font-weight: bold;
	font-size: 14px;
}

/*.filterChip {
	background-color: #a2a8ad !important;
	color: white !important;
	font-weight: 500 !important;
}*/

.hide {
	display: none;
}

.show {
	display: flex;
}

/*links <a> del Menu Left*/
.menu-left-links {
	text-decoration: none;
	color: white !important;
	display: flex;
	width: 100%;
}

.ADN {
	width: inherit;
	content: url("../../images/figura_producto_ADN.jpg");
}

.medidas {
	font-size: 12px;
	margin-top: 25px;
	padding-left: 5px !important;
}

.v-application p {
	margin-bottom: 6px;
}

.col {
	padding: 6px;
}


.theme--light.v-select .v-select__selections {
	color: #E0F2F1;
	font-size: 14px !important
}

.theme--light.v-label {
	color: teal;
	font-weight: 500;
}

.rotar90der {
	transform: rotate(90deg);
}

.v-stepper__step__step.primary .v-icon__svg {
	height: 42px;
}

.detalle.v-data-table tbody td {
	font-size: 14px !important;
}

.detalle.v-data-table thead th {
	font-size: 14px !important;
}

.inicio.v-data-table tbody td {
	font-size: 22px !important;
}

.inicio.v-data-table thead th {
	font-size: 22px !important;
}

.inicio {
	font-size: 22px !important;
}

.row-height-50.v-data-table tbody tr td {
	line-height: 1 !important;
}


.protevac-bg {
	background: linear-gradient(to top, #f1f1f1, #e9eaea, #d4dae0);
}

.protevac-headers {
	color: #333;
	text-transform: uppercase;
	background-color: #4074a5;
	font-weight: inherit;
	border: 1px solid #cccccc;
	border-left: none;
	border-right: none;
}

.protevac-headers-border {
	color: #333;
	text-transform: uppercase;
	background-color: #4074a5;
	font-weight: inherit;
	border-right: 1px solid #cccccc;
}

.protevac-headers-border-noUppercase {
	color: #333;
	text-transform: none !important;
	background-color: #4074a5;
	font-weight: inherit;
	border: 1px solid #cccccc;
	border-left: none;
}


.protevac-sub-headers {
	color: #333;
	text-transform: uppercase;
	background-color: #598ebf !important;
	font-weight: inherit;
	border: 1px solid #cccccc;
	border-left: none;
	border-right: none;
}

.protevac-headers-noUppercase {
	color: #333;
	text-transform: none !important;
	background-color: #4074a5;
	font-weight: inherit;
	border: 1px solid #cccccc;
	border-left: none;
	border-right: none;
}

.v-data-footer {
	text-transform: capitalize !important;
}

@media(max-width: 960px) {
	.margenMobile {
		position: relative !important;
		left: 35% !important;
		margin-bottom: 10px !important;
	}
}

.v-data-footer__pagination {
	text-transform: lowercase !important;
}


