<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>@ViewData["Title"] Self Restó</title>

	@await Html.PartialAsync("_AplicationStyles")
	@await Html.PartialAsync("_ApplicationScripts")

</head>

<body>
    <div id="SelfRestoApp">
        <v-app class="hide" v-bind:class="{show:readyForRender}">

            <v-main class="background">
                <v-container fluid>

                    @RenderBody()

                    <v-snackbar v-model="notification.show"
                                transition="scale-transition"
                                :color="notification.type"
                                :timeout="notification.timeout"
                                >

                        <v-icon :color="notification.iconColor">
                            {{notification.icon}}
                        </v-icon>
                        {{notification.message}}
                    </v-snackbar>
                </v-container>
            </v-main>

        </v-app>

    </div>

    <script type="text/javascript">

        var vueApp = null;
        var vueAppParams = { vuetify: new Vuetify(), data: { errors: {} }, methods: {} };

        vueAppParams.data.jsglobals = {};
        vueAppParams.data.background = '';
        vueAppParams.el = "#SelfRestoApp";
        vueAppParams.data.background = 'selfResto-bg';
        vueAppParams.data.readyForRender = true;

        //Menu
        vueAppParams.data.drawer = false;
        vueAppParams.data.group = null;
        //Breadcrums
        vueAppParams.data.breadcrums = [];

    </script>

    <script src="~/js/general/general.js"></script>
    <script src="~/js/general/errorHandler.js"></script>
    <script src="~/js/general/notification.js"></script>
    <script src="~/js/general/validationUtils.js"></script>
    <script src="~/js/general/logout.js"></script>

    @await Html.PartialAsync("_ResourcesUI")

    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        vueApp = new Vue(vueAppParams);
    </script>

</body>
</html>
