@model KO.Web.Models.Vacunas.VacunaViewModel

@section scripts
{
    <script type="text/javascript" asp-src-include="~/js/KO/vacunas/vacunas-listado.js" asp-append-version="true"></script>
}
<link rel="stylesheet" asp-href-include="~/css/vacunatorio.css" />

<!--Grilla-->
<v-row class="d-flex justify-space-around mt-1 mx-auto" no-gutters>
    <v-col lg="4" class="ml-5 mb-0 pt-3 pb-0">
        <v-breadcrumbs :items="breadcrums" class="pb-0">
            <template v-slot:item="{ item }">
                <v-breadcrumbs-item :href="item.href"
                                    :disabled="item.disabled">
                    <span style="font-weight: bold;font-size:1.2em"> {{  item.text.toUpperCase() }}</span>
                </v-breadcrumbs-item>
            </template>
        </v-breadcrumbs>
    </v-col>
    <v-col lg="4" class="text-end mr-10 mt-3">
        <v-tooltip left>
            <template v-slot:activator="{ on, attrs }">
                <v-btn v-bind="attrs"
                       v-on="on"
                       v-on:click="agregarVacuna"
                       color="primary"
                       elevation="2">
                    <v-icon small class="pr-1">mdi-plus</v-icon>
                    {{jsglobals.Nueva}} {{jsglobals.Vacuna}}
                </v-btn>
            </template>
            <span>{{jsglobals.AgregarVacuna}}</span>
        </v-tooltip>
    </v-col>
</v-row>
<v-row class="d-flex justify-center align-center ml-7 mr-7 mt-0">
    <v-col cols="10" class="mt-0">
        <v-card class="my-0">
            <v-card-title>
                <v-col lg="4" sm="5" class="pt-5">
                    <v-btn class="blue lighten-4" v-if="!agrupadosColapsados" v-on:click="toggleAll()">{{jsglobals.Colapsar}}</v-btn>
                    <v-btn class="blue lighten-4" v-if="agrupadosColapsados" v-on:click="toggleAll()">{{jsglobals.Expandir}}</v-btn>
                </v-col>
                <v-spacer></v-spacer>
                <v-col lg="3" sm="5" class="pb-1">
                    <v-text-field v-model="search"
                                  append-icon="mdi-magnify"
                                  label="Filtrar"
                                  single-line
                                  hide-details></v-text-field>
                </v-col>
                <v-col lg="5" sm="5" class="pl-5">
                    <v-row justify="end">
                        <v-col lg="2" sm="4" class="mt-4">
                            <v-label>{{jsglobals.Estado}}:</v-label>
                        </v-col>
                        <v-col lg="8" sm="8">
                            <v-radio-group row v-model="filtros.estado" hide-details style="font-size:1.2em" v-on:change="filtrarPorEstado()">
                                <v-radio :label="jsglobals.Activa" :value="true"></v-radio>
                                <v-radio :label="jsglobals.Inactiva" :value="false"></v-radio>
                                <v-radio :label="jsglobals.Todas" :value="0"></v-radio>
                            </v-radio-group>
                        </v-col>
                    </v-row>
                </v-col>
            </v-card-title>
            <v-data-table :headers="headers"
                          dense
                          :items="listadoFiltrado"
                          :expanded.sync="expanded"
                          item-key="id"
                          :search="search"
                          group-by="nombre"
                          :items-per-page="10"
                          class="elevation-2 text-uppercase"
                          style="position: relative;"
                          :loading="loadingVacunas"
                          :loading-text=jsglobals.ObteniendoVacunas
                          :no-data-text=jsglobals.LabelNoCoincidences
                          :footer-props="{
                        'items-per-page-text':jsglobals.FilasPorPagina,
                        'items-per-page-all-text':jsglobals.Todas,
                        'items-per-page-options':[ 10,  25,  50,  -1],
                            pageText: '{0} - {1} de {2}'
                      }">
                <template v-slot:group.header="{ group,groupBy,items,headers,isOpen, toggle }">
                    {{setGroupable(group,isOpen,toggle)}}
                    <td :colspan="headers.length">
                        <v-btn v-on:click="toggle" small icon :ref="group" :data-open="isOpen">
                            <v-icon v-if="isOpen">mdi-chevron-up</v-icon>
                            <v-icon v-else>mdi-chevron-down</v-icon>
                        </v-btn>
                        {{ group }}
                    </td>
                </template>
                <template v-slot:item.estado="{ item }">
                    <v-tooltip left v-if="item.estado">
                        <template v-slot:activator="{ on, attrs }">
                            <v-icon v-on="on" v-bind="attrs" large class="ma-0" color="indigo" v-on:click="inactivarVacuna(item)">toggle_on</v-icon>
                        </template>
                        <span>
                            {{jsglobals.Activo}}
                        </span>
                    </v-tooltip>
                    <v-tooltip left v-if="!item.estado">
                        <template v-slot:activator="{ on, attrs }">
                            <v-icon v-on="on" v-bind="attrs" large class="ma-0" color="red lighten-2" v-on:click="activarVacuna(item)">toggle_off</v-icon>
                        </template>
                        <span>
                            {{jsglobals.Inactivo}}
                        </span>
                    </v-tooltip>
                </template>
                <template v-slot:item.acciones="{ item }">
                    <v-tooltip left>
                        <template v-slot:activator="{ on, attrs }">
                            <v-icon large v-on="on" v-bind="attrs" class="mr-2" v-on:click="editarVacuna(item.id)" color="indigo">edit_note</v-icon>
                        </template>
                        <span>
                            {{jsglobals.Editar}}
                        </span>
                </template>
                <template v-slot:footer>
                    <v-tooltip bottom>
                        <template v-slot:activator="{ on, attrs }">
                            <v-btn v-on:click="exportarListaVacunas()"
                                   color="primary"
                                   small
                                   v-bind="attrs"
                                   v-on="on"
                                   elevation="2"
                                   class="bkg-white margenMobile"
                                   style="position: absolute; margin:15px"
                                   :loading="loadingExportar"
                                   :disabled="loadingExportar">
                                <v-icon small class="pr-1">
                                    mdi-file-export
                                </v-icon>
                                {{jsglobals.Exportar}}
                            </v-btn>
                        </template>
                        <span>{{jsglobals.ExportarExcel}}</span>
                    </v-tooltip>
                </template>
            </v-data-table>
        </v-card>
    </v-col>
</v-row>

<!--Dialog Inactivar-->
<v-row justify="space-around">
    <v-col cols="auto">
        <v-dialog v-model="dialogInactivar" persistent transition="dialog-bottom-transition"
                  width="500">
            <template v-slot:default="dialog">
                <v-card>
                    <v-toolbar dense class="d-flex text-h6 mb-5 justify-center" color="primary"
                               dark>
                        <v-toolbar-title>{{jsglobals.Inactivar}} {{jsglobals.Vacuna}}</v-toolbar-title>
                    </v-toolbar>
                    <v-card-text class="text-subtitle-1 text-center mb-5">
                        {{jsglobals.MensajeInactivarVacuna}}
                        </br>
                        <span class="text-uppercase"><strong>{{vacunaAInactivar.nombre}} - {{vacunaAInactivar.marca}}</strong></span>
                    </v-card-text>
                    <v-divider></v-divider>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn small
                               v-on:click="dialog.value = false"
                               color="primary">
                            {{jsglobals.No}}
                        </v-btn>
                        <v-btn small
                               v-on:click="confirmaInactivar(vacunaAInactivar.id)"
                               color="primary">
                            {{jsglobals.Si}}
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </template>
        </v-dialog>
    </v-col>
</v-row>

<!--Dialog Activar-->
<v-row justify="space-around">
    <v-col cols="auto">
        <v-dialog v-model="dialogActivar" persistent transition="dialog-bottom-transition"
                  width="500">
            <template v-slot:default="dialog">
                <v-card>
                    <v-toolbar dense class="d-flex text-h6 mb-5 justify-center" color="primary"
                               dark>
                        <v-toolbar-title>{{jsglobals.Activar}} {{jsglobals.Vacuna}}</v-toolbar-title>
                    </v-toolbar>
                    <v-card-text class="text-subtitle-1 text-center mb-5">
                        {{jsglobals.MensajeActivarVacuna}}
                        </br>
                        <span class="text-uppercase"><strong>{{vacunaAActivar.nombre}} - {{vacunaAActivar.marca}}</strong></span>
                    </v-card-text>
                    <v-divider></v-divider>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn small
                               v-on:click="dialog.value = false"
                               color="primary">
                            {{jsglobals.No}}
                        </v-btn>
                        <v-btn small
                               v-on:click="confirmaActivar(vacunaAActivar.id)"
                               color="primary">
                            {{jsglobals.Si}}
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </template>
        </v-dialog>
    </v-col>
</v-row>
