@model KO.Web.Models.Reportes.VacunacionesViewModel
section scripts
{
<script type="text/javascript" src="~/js/KO/reportes/vacunaciones.js"></script>
}

<link rel="stylesheet" href="~/css/vacunatorio.css" />

<!--Filtros-->
<v-row class="pb-0 mb-0 d-flex justify-center align-center ml-7 mr-7">
    <v-col cols="11" class="pb-0 mb-0">
        <v-expansion-panels>
            <v-expansion-panel elevation="2" class="pb-0 text-subtitle-2" style="color: #4074a5;">
                <v-expansion-panel-header class="pb-0 pt-0">
                    {{jsglobals.Filtros}}
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                    <v-row dense class="mt-0 mb-0 pt-0 pb-0">

                        <v-col cols="8"
                               sm="4"
                               md="2"
                               lg="2">
                            <v-menu v-model="menuDesde"
                                    :disabled=isDisabled()
                                    :close-on-content-click="false"
                                    :nudge-right="40"
                                    transition="scale-transition"
                                    offset-y
                                    min-width="auto">
                                <template v-slot:activator="{ on, attrs }">
                                    <v-text-field v-model="filtros.fechaDesdeSeleccionada"
                                                  :value="filtros.fechaDesdeSeleccionada"
                                                  :disabled=isDisabled()
                                                  :label="jsglobals.FechaDesde"
                                                  :hint="jsglobals.Formato"
                                                  persistent-hint
                                                  prepend-icon="mdi-calendar"
                                                  @@change="fechaDesdeSeleccionada = analizarFecha(filtros.fechaDesdeSeleccionada)"
                                                  v-bind="attrs"
                                                  v-on="on"></v-text-field>
                                </template>
                                <v-date-picker v-model="fechaDesdeSeleccionada"
                                               :disabled=isDisabled()
                                               no-title
                                               scrollable
                                               locale="es-419"
                                               :max="fechaHastaSeleccionada"
                                               @@blur="menuDesde = false">
                                </v-date-picker>
                            </v-menu>
                        </v-col>
                        <v-col cols="8" lg="2"
                               sm="4"
                               md="2">
                            <v-menu v-model="menuHasta"
                                    :disabled=isDisabled()
                                    :close-on-content-click="false"
                                    :nudge-right="40"
                                    transition="scale-transition"
                                    offset-y
                                    min-width="auto">
                                <template v-slot:activator="{ on, attrs }">
                                    <v-text-field v-model="filtros.fechaHastaSeleccionada"
                                                  :value="filtros.fechaHastaSeleccionada"
                                                  :disabled=isDisabled()
                                                  :label="jsglobals.FechaHasta"
                                                  :hint="jsglobals.Formato"
                                                  persistent-hint
                                                  prepend-icon="mdi-calendar"
                                                  @@change="fechaHastaSeleccionada = analizarFecha(filtros.fechaHastaSeleccionada)"
                                                  v-bind="attrs"
                                                  v-on="on"></v-text-field>
                                </template>
                                <v-date-picker v-model="fechaHastaSeleccionada"
                                               :disabled=isDisabled()
                                               no-title
                                               scrollable
                                               locale="es-419"
                                               :min="fechaDesdeSeleccionada"
                                               :max="hoy()"
                                               @@blur="menuHasta = false">
                                </v-date-picker>
                            </v-menu>
                        </v-col>
                        <v-col cols="12" lg="2" md="2" sm="4" class="pb-0">
                            <v-autocomplete v-model="filtros.paciente"
                                            :items="pacientes"
                                            item-text="nombre"
                                            item-value="id"
                                            :label="jsglobals.Paciente"
                                            :loading="loadingPacientes"
                                            :no-data-text="jsglobals.SinDatos">
                            </v-autocomplete>
                        </v-col>
                        <v-col cols="12" lg="2" md="2" sm="4" class="pb-0">
                            <v-autocomplete v-model="filtros.medico"
                                            :items="medicos"
                                            item-text="nombre"
                                            item-value="id"
                                            :label="jsglobals.Medico"
                                            :no-data-text="jsglobals.SinDatos"
                                            :loading="loadingMedicos">
                            </v-autocomplete>
                        </v-col>
                        <v-col cols="12" lg="2" md="1" sm="4" class="pb-0">
                            <v-select v-model="filtros.vacuna"
                                      :items="vacunas"
                                      item-text="nombre"
                                      item-value="id"
                                      :label="jsglobals.Vacuna"
                                      :loading="loadingvacunas"
                                      :no-data-text="jsglobals.SinDatos">
                            </v-select>
                        </v-col>
                        <v-col cols="12" lg="5" md="4" sm="12" dense class="pb-0 pt-sm-0 pt-4 pt-md-4 mt-4">
                            <v-tooltip bottom>
                                <template v-slot:activator="{ on, attrs }">
                                    <v-btn class="float-right"
                                           :loading="loadingAplicaciones"
                                           v-on="on"
                                           v-on:click="filtrar()"
                                           color="primary"
                                           small
                                           elevation="2">
                                        <v-icon small class="pr-1">
                                            mdi-magnify
                                        </v-icon>
                                        {{jsglobals.Buscar}}
                                    </v-btn>
                                </template>
                                <span>{{jsglobals.AplicarFiltros}}</span>
                            </v-tooltip>
                            <v-tooltip bottom>
                                <template v-slot:activator="{ on, attrs }">
                                    <v-btn class="float-right mr-3"
                                           v-bind="attrs"
                                           v-on="on"
                                           v-on:click="limpiarFiltros('todos')"
                                           color="primary"
                                           small
                                           elevation="2">
                                        <v-icon small class="pr-1">mdi-autorenew</v-icon>
                                        {{jsglobals.Limpiar}}
                                    </v-btn>
                                </template>
                                <span>{{jsglobals.LimpiarFiltros}}</span>
                            </v-tooltip>
                        </v-col>
                    </v-row>
                </v-expansion-panel-content>
            </v-expansion-panel>
        </v-expansion-panels>
    </v-col>
</v-row>
<!--Botones y filterChips-->
<v-row class="pb-0 pt-0 mb-0 mt-0 d-flex justify-center align-center ml-7 mr-7">
    <v-col class="pb-0 pt-0" cols="12">
        <v-chip v-if="mostrarFecha == false "
                close
                class="ma-2 filterChip"
                @@click:close="limpiarFiltros('todos')">

            {{jsglobals.Filtros}}: {{ jsglobals.FiltroSinFecha}}
        </v-chip>
        <v-chip v-if="filtros.fechaDesdeSeleccionada != '' && mostrarFecha == true"
                close
                class="ma-2 filterChip"
                @@click:close="limpiarFiltros('fechaDesdeSeleccionada')">

            {{jsglobals.FechaDesde}}: {{filtros.fechaDesdeSeleccionada}}
        </v-chip>
        <v-chip v-if="filtros.fechaHastaSeleccionada != '' && mostrarFecha == true"
                close
                class="ma-2 filterChip"
                @@click:close="limpiarFiltros('fechaHastaSeleccionada')">

            {{jsglobals.FechaHasta}}: {{filtros.fechaHastaSeleccionada}}
        </v-chip>
        <v-chip v-if="filtros.medico != '' "
                close
                class="ma-2 filterChip"
                @@click:close="limpiarFiltros('medico')">
            {{jsglobals.Medico}}: {{ filtros.medico }}
        </v-chip>
        <v-chip v-if="filtros.paciente != '' "
                class="ma-2 filterChip"
                close
                @@click:close="limpiarFiltros('paciente')">
            {{jsglobals.Paciente}}: {{ filtros.paciente }}
        </v-chip>
        <v-chip v-if="filtros.vacuna != '' "
                class="ma-2 filterChip"
                close
                @@click:close="limpiarFiltros('vacuna')">
            {{jsglobals.Vacuna}}: {{ filtros.vacuna }}
        </v-chip>
    </v-col>
    <v-col lg="3" class="text-end mr-10 mt-3">
        <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
                <v-btn class="mb-1"
                       v-bind="attrs"
                       v-on="on"
                       v-on:click="agregarMedico"
                       color="primary"
                       elevation="2">
                    <v-icon small class="pr-1">mdi-plus</v-icon>
                    {{jsglobals.Nueva}} {{jsglobals.Aplicacion}}
                </v-btn>
            </template>
            <span>{{jsglobals.AgregarAplicacion}}</span>
        </v-tooltip>
    </v-col>
</v-row>

<!--Grilla-->
<v-row class="pt-0 d-flex justify-center align-center ml-7 mr-7">
    <v-col cols="12" class="mt-0">
        <v-data-table :headers="headers"
                      :items="gridData"
                      :items-per-page="10"
                      class="elevation-2"
                      item-key="id"
                      style="position: relative;"
                      :loading="loadingReportes"
                      :loading-text=jsglobals.ObteniendoAplicaciones
                      :no-data-text=jsglobals.LabelNoCoincidences
                      :footer-props="{
                        'items-per-page-text':jsglobals.FilasPorPagina,
                        'items-per-page-all-text':jsglobals.Todas,
                        'items-per-page-options':[ 10,  25,  50,  -1],
                            pageText: '{0} - {1} de {2}'
                      }">
            <template v-slot:footer>
                <v-tooltip bottom>
                    <template v-slot:activator="{ on, attrs }">
                        <v-btn v-on:click="exportar"
                               color="primary"
                               small
                               v-bind="attrs"
                               v-on="on"
                               elevation="2"
                               class="bkg-white margenMobile"
                               style="position: absolute; margin:15px">
                            <v-icon small class="pr-1">
                                mdi-file-export
                            </v-icon>
                            {{jsglobals.Exportar}}
                        </v-btn>
                    </template>
                    <span>{{jsglobals.ExportarExcel}}</span>
                </v-tooltip>
            </template>
        </v-data-table>
    </v-col>
</v-row>