<!--section scripts
{
    <script type="text/javascript" src="~/js/codes/reportes/vacunaciones.js"></script>
}-->
<!--Filtros-->
<!--<v-row class="pb-0 mb-0">
    <v-col cols="1"></v-col>
    <v-col cols="10" class="pb-0 mb-0">
        <v-expansion-panels>
            <v-expansion-panel elevation="2" class="pb-0 text-subtitle-2" style="color: #4074a5;">
                <v-expansion-panel-header class="pb-0 pt-0">
                    {{jsglobals.Filtros}}
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                    <v-row dense class="mt-0 mb-0 pt-0 pb-0">

                        <v-col cols="12"
                               sm="6"
                               md="4">
                            <v-menu v-model="menuDesde"
                                    :disabled=isDisabled()
                                    :close-on-content-click="false"
                                    :nudge-right="40"
                                    transition="scale-transition"
                                    offset-y
                                    min-width="auto">
                                <template v-slot:activator="{ on, attrs }">
                                    <v-text-field v-model="filtros.fechaDesdeSeleccionada"
                                                  :value="formatoFecha(filtros.fechaDesdeSeleccionada)"
                                                  :disabled=isDisabled()
                                                  :label="jsglobals.FechaDesde"
                                                   hint="DD/MM/YYYY"
                                                  persistent-hint
                                                  prepend-icon="mdi-calendar"
                                                  @@change="fechaDesdeSeleccionada = analizarFecha(filtros.fechaDesdeSeleccionada)"
                                                  v-bind="attrs"
                                                  v-on="on"></v-text-field>
                                </template>
                                <v-date-picker v-model="fechaDesdeSeleccionada"
                                              :disabled=isDisabled()
                                               no-title
                                               scrollable
                                               locale="es-419"
                                               :max="fechaHastaSeleccionada"
                                               @@blur="menuDesde = false">
                                </v-date-picker>
                            </v-menu>
                        </v-col>
                        <v-col cols="12"
                               sm="6"
                               md="4">
                            <v-menu v-model="menuHasta"
                                    :disabled=isDisabled()
                                    :close-on-content-click="false"
                                    :nudge-right="40"
                                    transition="scale-transition"
                                    offset-y
                                    min-width="auto">
                                <template v-slot:activator="{ on, attrs }">
                                    <v-text-field v-model="filtros.fechaHastaSeleccionada"
                                                  :value="formatoFecha(filtros.fechaHastaSeleccionada)"
                                                  :disabled=isDisabled()
                                                  :label="jsglobals.FechaHasta"
                                                  hint="DD/MM/YYYY"
                                                  persistent-hint
                                                  prepend-icon="mdi-calendar"
                                                   @@change="fechaHastaSeleccionada = analizarFecha(filtros.fechaHastaSeleccionada)"
                                                  v-bind="attrs"
                                                  v-on="on"
                                                  ></v-text-field>
                                </template>
                                <v-date-picker v-model="fechaHastaSeleccionada"
                                               :disabled=isDisabled()
                                               no-title
                                               scrollable
                                               locale="es-419"
                                               :min="fechaDesdeSeleccionada"
                                               :max="hoy()"
                                               @@blur="menuHasta = false">

                                </v-date-picker>
                            </v-menu>
                        </v-col>

                           <v-col lg="2" md="2" sm="4" class="mr-5">
                                <label>{{jsglobals.Matricula}}</label>
                                <v-text-field></v-text-field>
                            </v-col>
                            <v-col lg="2" md="3" sm="4" class="mr-5">
                                <label>{{jsglobals.Nombre}}</label>
                                <v-text-field></v-text-field>
                            </v-col>
                            <v-col lg="2" md="3" sm="4" class="mr-5">
                                <label>{{jsglobals.Apellido}}</label>
                                <v-text-field></v-text-field>
                            </v-col>
                            <v-col lg="3" md="4" sm="4" class="ml-5 mr-5">
                                <label>{{jsglobals.Estado}}</label>
                                    <v-radio-group row v-model="filtros.estado" class="blue--text text--darken-4">
                                        <v-radio :label="jsglobals.Activo" :value="true"></v-radio>
                                        <v-radio :label="jsglobals.Inactivo" :value="false"></v-radio>
                                        <v-radio :label="jsglobals.Todos" :value="0"></v-radio>
                                    </v-radio-group>
                            </v-col>
                            <v-col lg="2" md="2" sm="2" dense class="mt-10">
                                        <v-btn class="float-right"
                                               :loading="loadingMedicos"
                                               v-on:click="onClickFiltrar()"
                                               color="primary"
                                               small
                                               elevation="2">
                                            <v-icon small class="pr-1">
                                                mdi-magnify
                                            </v-icon>
                                            {{jsglobals.Buscar}}
                                        </v-btn>
                                <v-tooltip bottom>
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-btn class="float-right mr-3"
                                               v-bind="attrs"
                                               v-on="on"
                                               v-on:click="onClickLimpiarFiltros()"
                                               color="primary"
                                               small
                                               elevation="2">
                                            <v-icon small class="pr-1">mdi-autorenew</v-icon>
                                            {{jsglobals.Limpiar}}
                                        </v-btn>
                                    </template>
                                    <span>{{jsglobals.LimpiarFiltros}}</span>
                                </v-tooltip>
                            </v-col>
                        </v-row>
                    </v-expansion-panel-content>
                </v-expansion-panel>
            </v-expansion-panels>
        </v-col>
        <v-col cols="1"></v-col>
    </v-row>
<!--Botones y filterChips-->
<!--<v-row>
    <v-col cols="1"></v-col>
    <v-col cols="10">
        <v-chip v-if="mostrarFecha == false "
                close
                class="ma-2 filterChip"
                @@click:close="onClickLimpiarFiltros('todos')">

            {{jsglobals.Filtros}}: {{ jsglobals.FiltroSinFecha}}
        </v-chip>
        <v-chip v-if="filtros.fechaDesdeSeleccionada != '' && mostrarFecha == true"
                close
                class="ma-2 filterChip"
                @@click:close="onClickLimpiarFiltros('fechaDesdeSeleccionada')">

            {{jsglobals.FechaDesde}}: {{filtros.fechaDesdeSeleccionada}}
        </v-chip>
        <v-chip v-if="filtros.fechaHastaSeleccionada != '' && mostrarFecha == true"
                close
                class="ma-2 filterChip"
                @@click:close="onClickLimpiarFiltros('fechaHastaSeleccionada')">

            {{jsglobals.FechaHasta}}: {{filtros.fechaHastaSeleccionada}}
        </v-chip>
        <v-chip v-if="filtros.estadoSeleccionado != '' "
                close
                class="ma-2 filterChip"
                @@click:close="onClickLimpiarFiltros('estadoSeleccionado')">

            {{jsglobals.Estado}}: {{ estado.filter(x => x.id == filtros.estadoSeleccionado)[0].nombre }}
        </v-chip>
        <v-chip v-if="filtros.coladaInicialSeleccionado != '' "
                close
                class="ma-2 filterChip"
                @@click:close="onClickLimpiarFiltros('coladaInicialSeleccionado')">
            {{jsglobals.ColadaInicial}}: {{ filtros.coladaInicialSeleccionado }}
        </v-chip>
        <v-chip v-if="filtros.coladaFinalSeleccionado != '' "
                class="ma-2 filterChip"
                close
                @@click:close="onClickLimpiarFiltros('coladaFinalSeleccionado')">
            {{jsglobals.ColadaFinal}}: {{ filtros.coladaFinalSeleccionado }}
        </v-chip>
        <v-chip v-if="filtros.viaSeleccionado != '' "
                class="ma-2 filterChip"
                close
                @@click:close="onClickLimpiarFiltros('viaSeleccionado')">
            {{jsglobals.Via}}: {{via.filter(x => x.id == filtros.viaSeleccionado)[0].nombre}}
        </v-chip>
        <v-chip v-if="filtros.cestaSeleccionado != '' "
                class="ma-2 filterChip"
                close
                @@click:close="onClickLimpiarFiltros('cestaSeleccionado')">
            {{jsglobals.Cesta}}: {{ filtros.cestaSeleccionado }}
        </v-chip>
    </v-col>
    <v-col cols="1"></v-col>
</v-row>-->
<!--Grilla-->
<!--<v-row class="pt-0 d-flex justify-center align-center ml-7 mr-7">
    <v-col cols="12" class="mt-0">
        <v-data-table :headers="headers"
                      :items="gridData"
                      :items-per-page="10"
                      class="elevation-2"
                      item-key="id"
                      style="position: relative;"
                      :loading="loadingReportes"
                      :loading-text=jsglobals.ObteniendoListaDeCargas
                      :no-data-text=jsglobals.LabelNoCoincidences
                      :footer-props="{
                        'items-per-page-text':jsglobals.FilasPorPagina,
                        'items-per-page-all-text':jsglobals.Todas,
                        'items-per-page-options':[ 10,  25,  50,  -1],
                            pageText: '{0} - {1} de {2}'
                      }">
            <template v-slot:header="{ props : { mobile }}">
                <thead v-if="!mobile">
                    <tr>
                        <th v-for="parentHeader in parentHeaders"
                            :class="parentHeader.class"
                            :colspan="parentHeader.colspan"
                            :rowspan="parentHeader.rowspan">
                            <span>
                                {{parentHeader.text}}
                            </span>
                        </th>
                    </tr>
                </thead>
            </template>

            <template v-slot:footer>
                <v-tooltip bottom>
                    <template v-slot:activator="{ on, attrs }">
                        <v-btn v-on:click="onClickExportar"
                               color="primary"
                               small
                               v-bind="attrs"
                               v-on="on"
                               elevation="2"
                               class="bkg-white margenMobile"
                               style="position: absolute; margin:15px">
                            <v-icon small class="pr-1">
                                mdi-file-export
                            </v-icon>
                            {{jsglobals.Exportar}}
                        </v-btn>
                    </template>
                    <span>{{jsglobals.ExportarExcel}}</span>
                </v-tooltip>
            </template>
        </v-data-table>
    </v-col>
</v-row>-->
